In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
humidity = pd.read_csv('humidity.csv', delimiter=',')
pressure = pd.read_csv('pressure.csv', delimiter=',')
temperature = pd.read_csv('temperature.csv', delimiter=',')

In [3]:
humidity.keys()

Index(['datetime', 'Vancouver', 'Portland', 'San Francisco', 'Seattle',
       'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque',
       'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City',
       'Minneapolis', 'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis',
       'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami',
       'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal',
       'Boston', 'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa',
       'Nahariyya', 'Jerusalem'],
      dtype='object')

In [5]:
np.shape(pressure)

(45253, 37)

In [6]:
assert[humidity.keys() == pressure.keys()]
assert[humidity.keys() == temperature.keys()]

In [7]:
pressure.dropna(axis = 0, inplace=True)

In [8]:
np.shape(pressure)

(39060, 37)

In [9]:
np.shape(humidity)

(45253, 37)

In [10]:
humidity.dropna(axis = 0, inplace=True)

In [11]:
np.shape(humidity)

(36263, 37)

In [21]:
tot = pd.merge(humidity, pressure, how = 'left')

In [22]:
tot.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
1,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
2,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01 17:00:00,78.0,79.0,84.0,79.0,88.0,80.0,21.0,24.0,49.0,...,69.0,57.0,80.0,68.0,54.0,62.0,23.0,51.0,51.0,50.0

In [23]:
np.shape(tot)

(36263, 37)